* {
    font-family: "Orbitron" , sans-serif;
}
header{
    background-color: white;
    padding: 5px;
    text-align: right;
    font-size: 15px;
    color:black
}
header{ 
    border: 1px solid #000;
    color: #000;
}
body{
background-color: white;
padding: 5px;
text-align: center;
font-size: 15px;
color: black;
}
body{
    border: 1px solid #000;
    color: #000;
}
main{
    background-color: white
    padding 5px;
    text-align: center;
    font-size: 15px;
    color: black;
}
main{
    border: 1px solid #000;
    color: #000;
}
footer {
background-color: white;
padding: 0px;
text-align: center;
font-size: 19px;
color: #000
}
footer {
    border: 1px solid #000;
    color:black; 
}
ul{ 
    list-style-type: none;
   text-decoration: underline;
}
.flex-container, ul{
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-flow: row wrap;
justify-content:end;
padding: 0px;
margin: 0px;
list-style: none;
}
.flex-item, li{
background: white;
padding: 5px;
width: 80px;
height: 80x;
margin-top: 8px;
line-height:: 60px;
color: #000;
font-weight: bold;
font-size: 15px;
text-align: center;
}
