* {
    font-family: "Orbitron" , sans-serif;
}
footer {
background-color: azure;
padding: 5px;
text-align: center;
font-size: 18px;
color: black
}
footer {
    border: 1px solid #000;
    color:black; 
}

