* {
    font-family: "orbitron" , sans-serif;
}
header{
    background-color: white;
    padding: 1rem;
    text-align: right;
    font-size: 15px;
    color: black;
}
header{ 
    border: 2px solid #000;
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 15rem;
    
}
body{
    background-color:white;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: black;
}
body{
    border: 2px solid #000;
    color: black;
    margin-bottom: 15px;
}
main{
    background-color: white;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    color: black;
}
main{
    border: 2px solid #000;
    color: #000;
    margin-bottom: 15px;
    height: 20rem;
}
menu{
    background-color: white;
    padding: 0px;
    text-align: center;
    font-size: 15px;
    color: black;
}
menu{
    border: 2px solid #000;
    color: #000;
    margin-bottom: 10px;
    height: 3rem;
}
footer {
    background-color: white;
    padding: 1rem;
    text-align: center;
    font-size: 19px;
    color: #000
}
footer {
    border: 2px solid #000;
    color: black; 
    margin-top: 1rem;
    margin-bottom: 5rem;
}
ul{ 
    list-style-type: none;
    text-decoration: underline;
}
.flex-container, ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content:end;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.flex-item, li{
    background: white;
    padding: 1.5rem;
    width: 4rem;
    height: 1rem;
    margin-top: 8px;
    line-height: 60px;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}
.flex-box, menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.flex-link, li{
    background: white;
    padding: 1px;
    width: 7rem;
    height: 2rem;
    margin-top: 1rem;
    line-height: 1rem;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}
.flex-container, h3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: end;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.flex-link, h3{
    background: white;
    padding: 1px;
    height: 1rem;
    margin-top: 1rem;
    line-height: 1rem;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    text-align:left;
}
header {
    background-color:white;  
    font-size: 1rem;
}
.flex-link a:hover{
    background-color: black;
    color: white;
}
